body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E94EC;
}
div{
    background-color: black;
    border-radius: 10px;

}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-spacing:10px;
}
th{ 
    text-align: left;
    padding-right: 400px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#1B1E24;
    color: #797F86;
    font-size: 2rem;
}
td{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    color:#666A85;
    font-size: 2rem;
}



td[data-curreny="dollar"]::before{
    content: "$";
}

tr:nth-child(odd)>td{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#EBEBEB;
    color: #666A85;
    font-size: 2rem;
}