body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313841;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw
}
button{
    border:none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    background-color: #1C242B;
}
.bin:hover{
    background-color: #F34541;
}
.tick:hover{
    background-color: #38BA7D;
}
.text{
  width: 0px;
  opacity: 0;
  transition: 2s;
  text-align: center;
  line-height: 58px;
}
.delete{
  display: flex;
  position: relative;
}
.sure{
  display: flex;
  position: relative;
}
.text{
  top:-16px;
  left:60px;
  position: absolute;
  width: 50px;
  height: 58px;
}
.delete:hover > .text {
  opacity: 1;
  width: 200px;
  background-color: #F34541;
}
 .sure:hover > .text{
  opacity: 1;
  width: 200px;
  background-color: #38BA7D;
}
.tri{
  width: 10px;
  height: 10px;
  background-color: #1C242B;
  position: absolute;
  top: 24px;
  transition: 2s;
left: 55px;
transform: rotate(45deg);
}