body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313841;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw
}
button{
    border:none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    background-color: #1C242B;
}
.bin:hover{
    background-color: #F34541;
}
.tick:hover{
    background-color: #38BA7D;
}

button:hover {
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.bin:hover::after{
  /* transition:all 2s; */
    content: " Delete?"
  }
  .tick:hover::after{
    /* transition:all 2s; */
    content: " Sure?"
  }