body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
div{
    padding: 0px;
    margin: 0px;
}
div>button:hover{
opacity: 0.6;
}
div>button:active{
opacity: 1;
}
.firstRow{
    margin-bottom: 20px;
}
button{
    opacity: 0.8;
    border: none;
    margin-left: 10px;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.blue{background-color: blue; box-shadow :2px 5px 1px 1px rgba(0, 0, 255, .5);}
.green{background-color:green; box-shadow :2px 5px 1px 1px rgba(0, 128, 0, .5);}
.red{background-color:red; box-shadow :2px 5px 1px 1px rgba(255, 0, 0, .5);}
.light{background-color:rgb(173, 216, 230); box-shadow :2px 5px 1px 1px rgba(173, 216, 230, .5);}
.black{background-color:black; box-shadow :2px 5px 1px 1px rgba(0, 0, 0, .5);}
.white{background-color:white;color: black; box-shadow :2px 5px 1px 1px rgba(255, 255, 255, .5);}
